@media (min-width: 1200px) {}

@media (min-width: 980px) {	
	
} 
 
@media (min-width: 768px) {
	.no-left {
		padding-left: 0;
	}
	.no-right {
		padding-right: 0;
	}
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { } 

@media (max-width: 979px) {
	body {
		font-size: 14px;
	}
	.header {
		text-align: center;
		padding: 20px 0 10px;
	}
	.header .logo {
		text-align: center;
		padding: 0 0 20px;
	}	
	.subcribe-box {
		padding-left: 0;
	}
}
 
@media (max-width: 767px) {
	.form-control {
		font-size: 14px;
		height: 34px;
		padding: 3px 10px;
	}
	.btn {
		font-size: 14px;
		padding: 5px 24px;
	}
	.search-box .input-group .form-control {
		padding-left: 8px;
    	background: #fff;
	}
	.search-text {
		padding-top: 10px;
		font-size: 22px;
	}
	.ui-keyboard {
		display: none !important;
	}
	.inner-header {
		padding: 20px 0;
	}
	.inner-header .inner-logo {
		padding-right: 0;
		text-align: center;
	}
	.pd-printer-name {
		font-size: 34px;
		text-align: center;
		padding: 20px 0;
	}
	.printer-price-block .prt-price {
		font-size: 30px;
	}
	.printer-price-block .prt-unit {
		font-size: 22px;
	}
	.buy-printer {
		margin-bottom: 50px;
	}
	.buy-printer .btn.btn-lg {
		font-size: 18px;
		padding: 10px 24px;
	}
}