
/**************HOME PAGE LOADER*****************/
.home-slider { margin-top:10px;   }
.home-slider .owl-item { text-align:center;  }
.home-slider .owl-item img{   border:5px solid transparent; padding:10px; /*width:400px;*/  display:inline-block;}
.home-slider .owl-item img.active { /*border:5px solid rgba(16,18,19,0.5); border-radius:10px; */ border:none;}

.owl-carousel {
position: relative;
}
.owl-prev,
.owl-next {
position: absolute;
top: 50%;
margin-top: -10px; // Half of the prev/next buttons height here in negatives to center them perfectly
}
.owl-prev {
left: 0;
}
.owl-next {
right: 0;
}
