<?php $_helper = $this->helper('catalog/output'); ?>
<?php $_product = $this->getProduct(); 

$qty = (int)Mage::getModel('cataloginventory/stock_item')->loadByProduct($_product)->getQty();




die('here=============');
 
?>
<div class="inner-header">
    <div class="container">
      <!--  <div class="inner-logo">  -->
	<div class="logo">
            <a href="<?php echo Mage::getBaseUrl(); ?>">
              <img src="<?php echo $this->getSkinUrl('images/blue-logo.png'); ?>" alt="HP"> 
            </a>
        </div>
    </div>   
</div>

<div class="inner-content">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-sm-6">
                <div class="pd-printer">
                    <h1 class="pd-printer-name">
                        <?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?>
                    </h1>
                    <div class="pd-printer-img">
                          <img src="<?php echo Mage::helper('catalog/image')->init($_product, 'image')/* ->resize(200, 200) */; ?>" alt="<?php echo $_product->getName(); ?>" />
                    </div>
                    <div class="printer-price-block clearfix">
                        <div class="prt-price">$<?php echo round($_product->getPrice()); ?></div>
                        <div class="prt-unit"><span><?php echo $qty; ?></span> Unidades</div>
                    </div>



                    <div id="popup1" class="overlay">
                        <div class="popup">
                            <h2>Quieres imprimir el tiquete</h2>
                            <a class="close" href="#">&times;</a>
                            <div class="content">
                                <a href="#"><button id="sendMail" class="btn btn-default f-size b-right" type="button">&nbsp;&nbsp;Si</button></a>
                                <a href="#"><button class="btn btn-default f-size" type="button">&nbsp;&nbsp;No</button></a>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <div class="col-md-6 col-md-offset-1 col-sm-6 col-sm-offset-0">
                <div class="printer-desc">
                    <?php echo $_product->getDescription() ?>
                    <!--<div class="printer-heading">
                        Simplifique sus tareas con una impresora todo-en-uno accesible en al que pueda confiar.
                    </div>
                    <div class="pd-printer-head">
                        <h2>La impresion inalambrica sencilla llega al hogar</h2>
                        <ul>
                            <li>Imprima de manera inalambrica desde cualquier habitacion de su hogar con su telefono inteligente ,tablet o PC</li>
                            <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text</li>
                            <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text</li>
                            <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text</li>
                        </ul>
                    </div>-->
                    <div class="pd-printer-ic">
                        <div class="row">
                            <div class="col-md-3 col-xs-6">
                                <div class="pd-ptr-box">
                                    <div class="pd-ptr-ic"><img src="<?php echo $this->getSkinUrl('images/print-ic1.jpg'); ?>"></div>
                                    <div class="pd-ptr-name">Imprime</div>
                                </div>
                            </div>
                            <div class="col-md-3 col-xs-6">
                                <div class="pd-ptr-box">
                                    <div class="pd-ptr-ic"><img src="<?php echo $this->getSkinUrl('images/print-ic2.jpg'); ?>"></div>
                                    <div class="pd-ptr-name">Escanea</div>
                                </div>
                            </div>
                            <div class="col-md-3 col-xs-6">
                                <div class="pd-ptr-box">
                                    <div class="pd-ptr-ic"><img src="<?php echo $this->getSkinUrl('images/print-ic3.jpg'); ?>"></div>
                                    <div class="pd-ptr-name">Copia</div>
                                </div>
                            </div>
                            <div class="col-md-3 col-xs-6">
                                <div class="pd-ptr-box">
                                    <div class="pd-ptr-ic"><img src="<?php echo $this->getSkinUrl('images/print-ic4.jpg'); ?>"></div>
                                    <div class="pd-ptr-name">HP Mobile Connect</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>    
        <div class="col-md-5 col-sm-6 buy-printer">
            <a href="#popup1" class="btn btn-orange btn-block btn-lg">Imprimir ticket de pago</a>
        </div>
        <div class="backtohome">
            <a class="btn btn-blue btn-lg" href="<?php echo Mage::getBaseUrl(); ?>">Ir al Inicio</a>
        </div>      

    </div>
</div>


<div>
<?php $path = getcwd(); ?>
 <img src=" <?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_WEB);  ?>lib/Barcode/barcode.php?codetype=Code128&size=50&text=<?php echo $_helper->productAttribute($_product, $_product->getbarcode(), 'barcode') ?>&filepath=<?php echo $path; ?>/barcodes/barcode.png" style="display:none;"/>
 </div>

<div id="printDIV" style="display:none;"> 
	<div style="width:400px; margin:auto;">
		<h1 style="text-align:center; font-size:25px;"><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></h1>
		<h2 style="text-align:center; font-size:20px;">$<?php echo round($_product->getPrice()); ?></h2>
		<ul>
			<li>Acérquese a una caja registradora  de la  tienda</li>
			<li>Presente este  tiquete para  cancelar el producto	</li>
			<li>Luego acerquese a la zona de  tecnología y reclame el producto con  un asesor. </li>
		</ul>
		<div style="text-align:center; padding:20px 0; width:100%; float:left">
            <!-- <img style="height:100px;width:200px" src="http://52.200.81.146/stagingkiosk/barCode.jpg" alt="BarCode" /> -->   
             
           
            <img alt="barcode" src=" <?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_WEB);  ?>barcodes/barcode.png" /> 
        </div>
	  <div style="text-align:center;">Complementa la compra con tintas originales HP
      </div>
    </div>
</div>



<script> 
	$("#sendMail").on('click',function(){ 
		Popup($('#printDIV').html());
	});
	
	function Popup(data) 
    {
        var mywindow = window.open('', 'HP', 'height=400,width=600');
        mywindow.document.write('<html><head><title>HP</title>');
        /*optional stylesheet*/ //mywindow.document.write('<link rel="stylesheet" href="main.css" type="text/css" />');
        mywindow.document.write('</head><body >');
        mywindow.document.write(data);
        mywindow.document.write('</body></html>');

        mywindow.document.close(); // necessary for IE >= 10
        mywindow.focus(); // necessary for IE >= 10

        mywindow.print();
        mywindow.close();

        return true;
    }
</script>
