<?php $_helper = $this->helper('catalog/output'); ?>
<?php $_product = $this->getProduct(); 

$qty = (int)Mage::getModel('cataloginventory/stock_item')->loadByProduct($_product)->getQty();

$categoryId = $this->getProduct()->getCategoryIds()[0];
$urlCategory = Mage::getModel('catalog/category')
                ->setStoreId(Mage::app()->getStore()->getId())
                ->load($categoryId)
                ->getUrl();

 
?>



<div class="inner-header">
    <div class="container">
      <!--  <div class="inner-logo">  -->
	<div class="logo">
            <a href="<?php echo Mage::getBaseUrl(); ?>">
              <img src="<?php echo $this->getSkinUrl('images/blue-logo.png'); ?>" alt="HP"> 
            </a>
        </div>
    </div>   
</div>

<?php 
$price = $_product->getPrice(); 
$price =  number_format($price, 0, '.', '.');
$cod_ean = $_product->getBarcode();
$sku = $_product->getSku();
date_default_timezone_set('America/Bogota');
?>

<div class="inner-content">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-sm-6">
                <div class="pd-printer">
                    <h1 class="pd-printer-name">
                        <?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?>
                    </h1>
					<div class="pd-printer-img">
						<?php echo $this->getChildHtml('media') ?>
					</div>
                    
                    <div class="printer-price-block clearfix">
                        <div class="prt-price">$<?php echo $price; ?>
                            <span class="prt-ean">EAN: <?php echo $cod_ean; ?></span>
                        </div>
                        
                        <div class="prt-unit"><span><?php echo $qty; ?></span> Unidades</div>
                    </div>
					


					<!--
                    <div id="popup1" class="overlay">
                        <div class="popup">
                            <h2>Quieres imprimir el tiquete</h2>
                            <a class="close" href="#">&times;</a>
                            <div class="content">
                                <a href="#"><button   class="btn btn-default f-size b-right" type="button">&nbsp;&nbsp;Si</button></a>
                                <a href="#"><button class="btn btn-default f-size" type="button">&nbsp;&nbsp;No</button></a>
                            </div>
                        </div>
                    </div>
					-->

                </div>
            </div>
            <div class="col-md-6 col-md-offset-1 col-sm-6 col-sm-offset-0">
                <div class="printer-desc">
                    <?php echo $_product->getDescription() ?>
                    <!--<div class="printer-heading">
                        Simplifique sus tareas con una impresora todo-en-uno accesible en al que pueda confiar.
                    </div>
                    <div class="pd-printer-head">
                        <h2>La impresion inalambrica sencilla llega al hogar</h2>
                        <ul>
                            <li>Imprima de manera inalambrica desde cualquier habitacion de su hogar con su telefono inteligente ,tablet o PC</li>
                            <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text</li>
                            <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text</li>
                            <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text</li>
                        </ul>
                    </div>-->
                    <div class="pd-printer-ic">
                        <div class="row">

                        <?php if($_helper->productAttribute($_product, $_product->getprint(), 'print') == 1){ ?>
                            <!-- Print -->
                            <div class="col-md-3 col-xs-6">
                                <div class="pd-ptr-box">
                                    <div class="pd-ptr-ic"><img src="<?php echo $this->getSkinUrl('images/print-ic1.jpg'); ?>"></div>
                                    <div class="pd-ptr-name">Imprime</div>
                                </div>
                            </div>
                            <?php } ?>

                            <!-- Scan -->
                             <?php if($_helper->productAttribute($_product, $_product->getscan(), 'scan') == 1){ ?>
                            <div class="col-md-3 col-xs-6">
                                <div class="pd-ptr-box">
                                    <div class="pd-ptr-ic"><img src="<?php echo $this->getSkinUrl('images/print-ic2.jpg'); ?>"></div>
                                    <div class="pd-ptr-name">Escanea</div>
                                </div>
                            </div>
                            <?php } ?>


                            <!-- Copy -->
                            <?php if($_helper->productAttribute($_product, $_product->getcopy(), 'copy') == 1){ ?>
                            <div class="col-md-3 col-xs-6">
                                <div class="pd-ptr-box">
                                    <div class="pd-ptr-ic"><img src="<?php echo $this->getSkinUrl('images/print-ic3.jpg'); ?>"></div>
                                    <div class="pd-ptr-name">Copia</div>
                                </div>
                            </div>
                            <?php } ?>

                            <!-- HP Mobile Connect -->
                            <?php if($_helper->productAttribute($_product, $_product->gethp_mobile_connect(), 'hp_mobile_connect')== 1){ ?>
                            <div class="col-md-3 col-xs-6">
                                <div class="pd-ptr-box">
                                    <div class="pd-ptr-ic"><img src="<?php echo $this->getSkinUrl('images/print-ic4.jpg'); ?>"></div>
                                    <div class="pd-ptr-name">HP Mobile Connect</div>
                                </div>
                            </div>
                            <?php } ?>

                        </div>
                    </div>
                </div>

            </div>
        </div>    
        <div class="col-md-5 col-sm-6 buy-printer">
            <a id="sendMail" href="javascript:void(0)" class="btn btn-orange btn-block btn-lg">Imprimir ticket de pago</a>
        </div>
        <div class="backtohome">
            <a class="btn btn-blue btn-lg" href="<?php echo $urlCategory; ?>">
                Volver atrás </a>
        </div>      

    </div>
</div>


<div>
<?php 
 $path = getcwd(); 
 $pname = str_replace(' ','',$_product->getName());
 //$finalName = time().'__'. $pname;
 $finalName = $pname.uniqid($pname).strtotime(time());
 $filename = $path.'/barcodes/'.$finalName.".png";

if(!file_exists($filename)) {
 ?>	
 <img src=" <?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_WEB);  ?>lib/Barcode/barcode.php?codetype=Code128&print=true&size=80&text=<?php echo $_helper->productAttribute($_product, $_product->getbarcode(), 'barcode') ?>&filepath=<?php echo $path; ?>/barcodes/<?php echo $finalName.".png"; ?>" style="display:none;"/>
 </div>
 <?php } ?>


 <style>
@page {
  size: A9;
  margin: 0;
}
@media print {
  html, body {
    width: 37mm;
    height: 26mm;
  }
  /* ... the rest of the rules ... */
}
</style>

<div id="printDIV" style="display:none; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;"> 
	<div style="width:300px; margin:auto;">
        <h1 style="text-align:center; font-size:25px;">FALABELLA</h1>
        <h2 style="text-align:center; font-size:20px;">Tienda de Santa fe<br>900.017.447-8</h2>
        <h3 style="text-align:center; font-size:14px;">GRANDES CONTRIBUYENTES<br>-AUTORRETENEDORES-<br>**CONSERVE LA TIRILLA PARA CAMBIOS**<br>SE ACEPTAN CAMBIOS HASTA 30 DÍAS Y PARA TECNOLOGÍA HASTA 10 DÍAS</h3>
        <h3 style="text-align:center; font-size:15px;"><?php echo date('d-m-Y H:i:s')?></h3>
        <h2 style="text-align:center; font-size:18px; margin: 0px; padding: 0;">SKU: <?php echo $sku; ?></h2>
		<h1 style="text-align:center; font-size:25px; margin-top: 0px; padding-top: 0;"><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></h1>
		<h2 style="text-align:center; font-size:20px;">Cantidad: 1<br>$<?php echo $price; ?></h2>
        <div style="text-align:center; padding:20px 0; width:100%;">
            <!-- <img style="height:100px;width:200px" src="http://52.200.81.146/stagingkiosk/barCode.jpg" alt="BarCode" /> -->   
             
           
            <img style="height:100px;width:200px; " align="middle" alt="barcode" src=" <?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_WEB);  ?>barcodes/<?php echo $finalName.".png"; ?>" /> 
        </div>
		<ul>
			<li>Acércate a una caja resgistradora de la tienda.</li>
			<li>Presenta este tiquete para cancelar el producto.</li>
			<li>Luego acércate a una zona de tecnología y reclama el producto con un asesor.</li>
		</ul>
	  <div style="text-align:center;">*Complementa tu compra con tintas originales HP*</div>
    </div>
</div>

 

<script> 
	$j("#sendMail").on('click',function(){ 
		Popup($j('#printDIV').html());
		 
       
	});
	
	function Popup(data) 
    {
        var mywindow = window.open('', 'HP', 'height=400,width=600');
        mywindow.document.write('<html><head><title></title>');
        /*optional stylesheet*/ //mywindow.document.write('<link rel="stylesheet" href="main.css" type="text/css" />');
        mywindow.document.write('</head><body >');
        mywindow.document.write(data);
        mywindow.document.write('</body></html>');

        mywindow.document.close(); // necessary for IE >= 10
        mywindow.focus(); // necessary for IE >= 10

        mywindow.print();
        mywindow.close();
        window.location.href ='<?php echo $currentUrl = Mage::helper('core/url')->getCurrentUrl();?>' ; 

        return true;
    }
</script>
