<?php 
$isPartner= Mage::getModel('marketplace/userprofile')->isPartner(); 
$helper= Mage::helper('marketplace');
$customerid=Mage::getSingleton('customer/session')->getCustomerId();
if($isPartner==1){
	$order_id = $this->getRequest()->getParam('id');
	$order=Mage::getModel('sales/order')->load($order_id);

    if($order->getPayment()){
		$paymentCode = $order->getPayment()->getMethod();
		$payment_method = Mage::getStoreConfig('payment/'.$paymentCode.'/title',Mage::app()->getStore());
	}

	$admin_pay_status = 0;

	$collection = Mage::getModel('marketplace/saleslist')->getCollection()
					->addFieldToFilter('mageproownerid', array('eq' => $customerid))
					->addFieldToFilter('mageorderid', array('eq' => $order_id));
	foreach($collection as $saleproduct){
		$admin_pay_status = $saleproduct->getAdminPayStatus();
	}

	$qty_to_refund_collection = Mage::getModel('marketplace/saleslist')->getCollection()
					->addFieldToFilter('mageproownerid', array('eq' => $customerid))
					->addFieldToFilter('mageorderid', array('eq' => $order_id))
					->addFieldToFilter('magequantity', array('neq' => 0));	
	$qty_to_refund_avail = count($qty_to_refund_collection);				

    $marketplace_orders = Mage::getModel('marketplace/order')->getCollection()
		                		->addFieldToFilter('order_id',array('eq'=>$order_id))
								->addFieldToFilter('seller_id',array('eq'=>Mage::getSingleton('customer/session')->getCustomerId()));
	if(count($marketplace_orders)){
		$tracking=Mage::getModel('marketplace/order')->getOrderinfo($order_id);
		if($tracking!=""){
			$disabled=$tracking->getTrackingNumber()==''? "":"readonly='readonly'";
			$shipmentId = $tracking->getShipmentId();
			$invoiceId=$tracking->getInvoiceId();
			$creditmemoId=$tracking->getCreditmemoId();

			$is_canceled=$tracking->getIsCanceled();

			if($shipmentId){
				$item_ship_status = 'Shipped';
			}else{
				$item_ship_status = '';
			}
			if($invoiceId){
				$item_invoice_status = 'Invoiced';
			}else{
				$item_invoice_status = '';
			}
			if($creditmemoId && !$qty_to_refund_avail){
				$item_refund_status = 'Refunded';
			}else{
				$item_refund_status = '';
			}

			$item_cancel_status = $is_canceled;

			$invoiceId=$tracking->getInvoiceId();
			$codcharges=$tracking->getCodCharges();
		}
		?>
		<div class="page-title">
			<h1 style="float:left;"><?php echo $helper->__('View Order Details') ?></h1>
			<a href="<?php echo $this->getUrl('marketplace/order/print',array('id'=>$this->getRequest()->getParam('id')));?>" target="blank">
				<button class="button wk_mp_btn printinvoice" title="<?php echo $helper->__('Print') ?>" type="submit" id="save_butn" >
					<span><span><?php echo $helper->__('Print') ?></span></span>
				</button>
			</a>
			<?php if($item_cancel_status!="1" && $order->canCancel() && $item_invoice_status!="Invoiced"){?>
				<a href="<?php echo $this->getUrl('marketplace/order/cancel',array('id'=>$order_id))?>" onclick="return confirm('Are you sure you want to cancel this order?')">
					<button class="button wk_mp_btn" title="<?php echo $helper->__('Cancel Order') ?>" type="button">
						<span><span><?php echo $helper->__('Cancel Order') ?></span></span>
					</button>
				</a>
			<?php 
			} ?>
			<?php if($item_cancel_status!="1" && !$order->isCanceled()){?>
				<a href="<?php echo $this->getUrl('marketplace/order/email',array('id'=>$order_id))?>" onclick="return confirm('Are you sure you want to send order email to customer?')">
					<button class="button wk_mp_btn" title="<?php echo $helper->__('Send Email To Customer') ?>" type="button">
						<span><span><?php echo $helper->__('Send Email') ?></span></span>
					</button>
				</a>
			<?php 
			} ?>
			<?php if($item_invoice_status!="Invoiced" && $order->canInvoice() && $item_cancel_status!="1"){?>
				<a href="<?php echo $this->getUrl('marketplace/order/invoice',array('id'=>$order_id))?>">
					<button class="button wk_mp_btn" title="<?php echo $helper->__('Create Invoice to confirm collected amount from buyer for this order') ?>" onclick="return confirm('Are you sure you want to create invoice?')" type="button">
						<span><span><?php echo $helper->__('Invoice') ?></span></span>
					</button>
				</a>
			<?php 
			} else if($item_invoice_status=="Invoiced" && $item_refund_status!="Refunded" && $order->canCreditmemo() && $item_cancel_status!="1"){
				$is_mpcashondelivery = Mage::helper('core/data')->isModuleOutputEnabled('Webkul_Mpcashondelivery');
				if($paymentCode == 'mpcashondelivery' && $is_mpcashondelivery && !$admin_pay_status){ ?>
					<a href="<?php echo $this->getUrl('mpcashondelivery/order/payadmin',array('id'=>$order_id))?>">
						<button class="button wk_mp_btn" title="<?php echo $helper->__('Pay Admin for his commission for this order') ?>" onclick="return confirm('If you pay admin commission then you can not do refund for buyer in future. Are you sure you want to pay admin for his commission?')" type="button">
							<span><span><?php echo $helper->__('Pay Admin Commission') ?></span></span>
						</button>
					</a>
				<?php
				} ?>
				<a href="<?php echo $this->getUrl('marketplace/order_creditmemo/new',array('order_id'=>$order_id))?>">
					<button class="button wk_mp_btn" title="<?php echo $helper->__('Create Credit Memo') ?>" type="button">
						<span><span><?php echo $helper->__('Credit Memo') ?></span></span>
					</button>
				</a>
			<?php 
			} ?>				
			<?php 
			if($item_ship_status!="Shipped" && $item_refund_status!="Refunded"  && $item_cancel_status!="1" && $order->canShip()){ ?>
				<button class="button wk_mp_btn" title="<?php echo $helper->__('Create Shippment for Order') ?>" type="button" id="mp_create_shipment_btn" onclick="return confirm('Are you sure you want to create shipment?')">
					<span><span><?php echo $helper->__('Ship') ?></span></span>
				</button>
			<?php 
			} ?>
		</div>
		<div class="wk_mp_design">
			<div class="block block-account">	
				<div class="block-title">	
					<strong><span><h4><?php echo $helper->__('View Order') ?></h4></span></strong>
				</div>
			</div>
			<div class="fieldset wk_mp_fieldset" id="wk_mp_print_order">
				<div class="page-title title-buttons">
				    <h1><?php echo $helper->__('Order #%s - %s', $order->getRealOrderId(), $order->getStatusLabel()) ?></h1>
				</div>
				<dl class="order-info">
				    <dt><?php echo $helper->__('About This Order:') ?></dt>
				    <dd>
				        <?php $_links = $this->getLinks(); ?>
				        <ul id="order-info-tabs">
				        <?php foreach ($_links as $_link): ?>
				            <?php if($_link->getUrl()): ?>
				                <li><a href="<?php echo $_link->getUrl() ?>"><?php echo $_link->getLabel() ?></a></li>
				            <?php else: ?>
				                <li class="current"><?php echo $_link->getLabel() ?></li>
				            <?php endif; ?>
				        <?php endforeach; ?>
				        </ul>
				        <script type="text/javascript">decorateGeneric($('order-info-tabs').select('LI'),['first','last']);</script>
				    </dd>
				</dl>
				<p class="order-date"><?php echo $helper->__('Order Date: %s', $this->formatDate($order->getCreatedAtStoreDate(), 'long')) ?></p>
				<!-- buyer info -->
				<div class="wk_mp_order-info-box">
				    <div>
				        <div class="box">
				            <div class="box-title">
				                <h2><?php echo $helper->__('Buyer Information') ?></h2>
				            </div>
				            <div class="box-content">
				                <div class="wk_row">
									<span class="label"><?php echo $helper->__('Customer Name')?> : </span>
									<span class="value"><?php echo $order->getCustomerName(); ?></span>
								</div>
								<div class="wk_row">
									<span class="label"><?php echo $helper->__('Email')?> : </span>
									<span class="value"><?php echo $order->getCustomerEmail(); ?></span>
								</div>
				            </div>
				        </div>
				    </div>
				</div>
				<!-- shipping info -->
				<?php if (!$order->getIsVirtual()): ?>
				<div class="wk_mp_order-info-box">
			        <div class="box">
			            <div class="box-title">
			                <h2><?php echo $helper->__('Shipping Address') ?></h2>
			            </div>
			            <div class="box-content">
			                <address><?php echo $order->getShippingAddress()->format('html') ?></address>
			            </div>
			        </div>			        
				</div>
				<div class="wk_mp_order-info-box">
					<div class="box">
			            <div class="box-title">
			                <h2><?php echo $helper->__('Shipping Information') ?></h2>
			            </div>
			            <div class="box-content">
			                <?php if ($order->getShippingDescription()): ?>
			                    <?php echo $this->escapeHtml($order->getShippingDescription()) ?>
			                <?php else: ?>
			                    <p><?php echo $this->helper('sales')->__('No shipping information available'); ?></p>
			                <?php endif; ?>
			            </div>

			            <?php
						if($item_ship_status!="Shipped" && $item_cancel_status!="1" && $order->canShip()){ ?>
							<form action="<?php echo $this->getUrl('marketplace/order/ship')?>" id="marketplace_shipping_form" method="post">
								<input class="required-entry" type="hidden" value="<?php echo $order->getId(); ?>" name="id"/>
								<table class="data-table orders wk_mp_list_table" id="my-orders-table">
								    <col width="1" />
								    <col width="1" />
								    <thead>
								        <tr>
								            <th><?php echo $helper->__('Carrier') ?></th>
								            <th><?php echo $helper->__('Tracking Number') ?></th>
								        </tr>
								    </thead>
								    <tbody>
										<tr>
								            <td>
								            	<input class="carrier input-text" value="<?php echo $tracking->getCarrierName(); ?>" <?php echo $disabled;?> type="text" name="carrier" style="width:100%;"/>
								            </td>
								            <td>
								            	<input class="required-entry input-text" value="<?php echo $tracking->getTrackingNumber(); ?>" <?php echo $disabled;?> type="text" name="tracking_id" style="width:100%;"/>
								            </td>
								        </tr>
								    </tbody>
				                </table>
							</form>
							<?php
						} ?>
			        </div>
				</div>
				<?php endif; ?>

				<!-- Billing info -->

				<div class="wk_mp_order-info-box">
			        <div class="box">
			            <div class="box-title">
			                <h2><?php echo $helper->__('Billing Address') ?></h2>
			            </div>
			            <div class="box-content">
			                <address><?php echo $order->getBillingAddress()->format('html') ?></address>
			            </div>
			        </div>
				</div>

				<!-- Payment Info -->

				<div class="wk_mp_order-info-box">
					<div class="box box-payment">
			            <div class="box-title">
			                <h2><?php echo $helper->__('Payment Method') ?></h2>
			            </div>
			            <div class="box-content">
			                <?php echo $payment_method; ?>
			            </div>
			        </div>
				</div>

				<!-- Items Info -->

				<div class="order-items order-details" style="overflow:auto;width:100%;">
				    <h2 class="table-caption"><?php echo $helper->__('Items Ordered') ?>        
				    </h2>
				    <table class="data-table" id="my-orders-table" summary="<?php echo $helper->__('Items Ordered') ?>">
					    <col />
					    <col width="1" />
					    <col width="1" />
					    <col width="1" />
					    <col width="1" />
					    <thead>
					        <tr>
					            <th style="width: 100%;"><?php echo $helper->__('Product Name') ?></th>
					             <th class="a-right"><?php echo $helper->__('Price') ?></th>
					            <th><?php echo $helper->__('Status') ?></th>
					            <th class="a-right"><?php echo $helper->__('Total Price') ?></th>
					            <?php
					            if($paymentCode == 'mpcashondelivery'){?>
					            	<th class="a-right"><?php echo $helper->__('COD Charges') ?></th>
					            <?php
					            } ?>
					            <th class="a-right"><?php echo $helper->__('Admin Commission') ?></th>
					            <th class="a-right"><?php echo $helper->__('Vendor Total') ?></th>
					            <th class="a-right"><?php echo $helper->__('Subtotal') ?></th>
					        </tr>
					    </thead>
					    <?php 
					    $_items = $order->getItemsCollection();
					    $i = 0;
					    $_count = $_items->count();				    
					    $subtotal = 0;
					    $vendor_subtotal =0;
					    $totaltax = 0;
					    $admin_subtotal =0;
					    $shippingamount = 0;
					    $codcharges_total = 0;

					    foreach ($_items as $_item){
					    	$row_total = 0;
					    	$available_seller_item = 0;
					    	$shippingcharges = 0;
					    	$itemPrice = 0;			
					    	$seller_item_cost = 0;			
					    	$totaltax_peritem = 0;			
					    	$codcharges_peritem = 0;
					    	$seller_item_commission = 0;			
							$orderid = $order_id;
							$vendor_item_status=$this->getItemStatus($orderid,$_item->getProductId());				    	
							$seller_orderslist=Mage::getModel('marketplace/saleslist')->getCollection()
														 ->addFieldToFilter('mageproownerid',array('eq'=>$customerid))
														 ->addFieldToFilter('mageorderid',array('eq'=>$orderid))
														 ->addFieldToFilter('mageproid',array('eq'=>$_item->getProductId()))
														 ->addFieldToFilter('order_item_id',array('eq'=>$_item->getItemId()))
														 ->setOrder('mageorderid','DESC');
							foreach($seller_orderslist as $seller_item){
								$parentitem_falg = 0;
								$available_seller_item = 1;
								$totalamount = $seller_item->getTotalamount();
								$seller_item_cost = $seller_item->getActualparterprocost();
								$seller_item_commission = $seller_item->getTotalcommision();
								$shippingcharges = $seller_item->getShippingCharges();
								$itemPrice = $seller_item->getMageproprice();
								$totaltax_peritem = $seller_item->getTotaltax();
								$codcharges_peritem = $seller_item->getCodCharges();
							}
							if($available_seller_item == 1){
								$i++;
								$seller_item_qty = $_item->getQtyOrdered();
								$row_total=$itemPrice*$seller_item_qty;
								//$seller_item_cost = $row_total-$seller_item_commission;
								$vendor_subtotal=$vendor_subtotal+$seller_item_cost;
								$subtotal=$subtotal+$row_total;
								$admin_subtotal = $admin_subtotal +$seller_item_commission;
								$totaltax=$totaltax+$totaltax_peritem;
								$codcharges_total=$codcharges_total+$codcharges_peritem;
								$shippingamount = $shippingamount+$shippingcharges;

								$result = array();
						        if ($options = $_item->getProductOptions()) {
						            if (isset($options['options'])) {
						                $result = array_merge($result, $options['options']);
						            }
						            if (isset($options['additional_options'])) {
						                $result = array_merge($result, $options['additional_options']);
						            }
						            if (isset($options['attributes_info'])) {
						                $result = array_merge($result, $options['attributes_info']);
						            }
						        }
						        // for bundle product
						        $bundleitems = array_merge(array($_item), $_item->getChildrenItems());
						        $_count = count ($bundleitems);
						        $_index = 0;
						        $_prevOptionId = '';					        
						    	?>
						        <?php if ($_item->getParentItem()) continue; ?>
						        <tbody>
						            <tbody class="<?php echo $class = ($i%2 != 0)? 'odd':'even'?>">
						            <?php
									if($_item->getProductType()!='bundle'){
									?>
										<?php $pname=$_item->getName(); ?>
										<tr class="border" id="order-item-row-<?php echo $_item->getMageproid() ?>">
											<td>
												<h3 class="product-name"><?php echo $pname;?></h3>
												<?php if($_options = $result): ?>
											        <dl class="item-options">
											        <?php foreach ($_options as $_option) : ?>
											            <dt><?php echo $this->escapeHtml($_option['label']) ?></dt>
											            <?php if (!$this->getPrintStatus()): ?>
											                <?php $_formatedOptionValue = $this->getFormatedOptionValue($_option) ?>
											                <dd<?php if (isset($_formatedOptionValue['full_view'])): ?> class="truncated"<?php endif; ?>>
											                    <?php echo $this->escapeHtml($_option['value']) ?>
											                    <?php if (isset($_formatedOptionValue['full_view'])): ?>
											                    <div class="truncated_full_value">
											                        <dl class="item-options">
											                            <dt><?php echo $this->escapeHtml($_option['label']) ?></dt>
											                            <dd><?php echo $_formatedOptionValue['full_view'] ?></dd>
											                        </dl>
											                    </div>
											                    <?php endif; ?>
											                </dd>
											            <?php else: ?>
											                <dd>
											                    <?php echo nl2br($this->escapeHtml( (isset($_option['print_value']) ? $_option['print_value'] : $_option['value']) )) ?>
											                </dd>
											            <?php endif; ?>
											        <?php endforeach; ?>
											        </dl>
										        <?php endif; ?>
											</td>
											<td class="price" data-rwd-label="<?php echo $helper->__('Price') ?>"><?php echo Mage::helper('core')->currency($_item->getPrice(), true, false);?></td>
											<td class="item_status" data-rwd-label="<?php echo $helper->__('Status') ?>">
												<span class="nobr">
									                <?php if ($_item->getQtyOrdered() > 0): ?>
											            <?php echo $helper->__('Ordered'); ?>: <strong><?php echo $_item->getQtyOrdered()*1 ?></strong><br />
											        <?php endif; ?>
											        <?php if ($_item->getQtyInvoiced() > 0): ?>
											            <?php echo $helper->__('Invoiced'); ?>: <strong><?php echo $_item->getQtyInvoiced()*1 ?></strong><br />
											        <?php endif; ?>
											        <?php if ($_item->getQtyShipped() > 0): ?>
											            <?php echo $helper->__('Shipped'); ?>: <strong><?php echo $_item->getQtyShipped()*1 ?></strong><br />
											        <?php endif; ?>
											        <?php if ($_item->getQtyCanceled() > 0): ?>
											            <?php echo $helper->__('Canceled'); ?>: <strong><?php echo $_item->getQtyCanceled()*1 ?></strong><br />
											        <?php endif; ?>
											        <?php if ($_item->getQtyRefunded() > 0): ?>
											            <?php echo $helper->__('Refunded'); ?>: <strong><?php echo $_item->getQtyRefunded()*1 ?></strong><br />
											        <?php endif; ?>
										        </span>
											</td>
											<td class="price" data-rwd-label="<?php echo $helper->__('Total Price') ?>"><?php echo Mage::helper('core')->currency($row_total, true, false);?></td>
											<?php
								            if($paymentCode == 'mpcashondelivery'){?>
								            	<td class="price" data-rwd-label="<?php echo $helper->__('COD Charges') ?>"><?php echo Mage::helper('core')->currency($codcharges_peritem, true, false);?></td>
								            <?php
								            } ?>
											<td class="price" data-rwd-label="<?php echo $helper->__('Admin Commission') ?>"><?php echo Mage::helper('core')->currency($seller_item_commission, true, false);?></td>
											<td class="row_total" data-rwd-label="<?php echo $helper->__('Vendor Total') ?>"><?php echo Mage::helper('core')->currency($seller_item_cost, true, false);?></td>
											<td class="row_total" data-rwd-label="<?php echo $helper->__('Subtotal') ?>"><?php echo Mage::helper('core')->currency($row_total, true, false);?></td>
										</tr>
									<?php
									}else{
									?>
									<?php foreach ($bundleitems as $_bundleitem): ?>
										<?php
										$attributes_option = null;
										if ($_bundleitem instanceof Mage_Sales_Model_Order_Item) {
								            $options = $_bundleitem->getProductOptions();
								        } else {
								            $options = $_bundleitem->getOrderItem()->getProductOptions();
								        }
								        if (isset($options['bundle_selection_attributes'])) {
								            $attributes_option =  unserialize($options['bundle_selection_attributes']);
								        }
										?>

										<?php if ($_bundleitem->getParentItem()): ?>
										    <?php $attributes = $attributes_option ?>
										    <?php if ($_prevOptionId != $attributes['option_id']): ?>
										    <tr class="bundle <?php if ($_bundleitem->getLastRow()){ echo 'last'; }?>">
										        <td><div class="option-label"><?php echo $attributes['option_label'] ?></div></td>
										        <td class="lin-hide">&nbsp;</td>
										        <td class="lin-hide">&nbsp;</td>
										        <td class="lin-hide">&nbsp;</td>
								            	<td class="lin-hide">&nbsp;</td>
										        <td class="lin-hide">&nbsp;</td>
										        <td class="lin-hide">&nbsp;</td>
										        <td class="lin-hide">&nbsp;</td>
										    </tr>
										    <?php $_prevOptionId = $attributes['option_id'] ?>
										    <?php endif; ?>
										<?php endif; ?>
										<tr<?php echo (++$_index==$_count)?' class="border bundle"':' class="bundle"' ?> id="order-item-row-<?php echo $_bundleitem->getId() ?>">
										    <?php 
										    if (!$_bundleitem->getParentItem()){?>
										    	<td><h3 class="product-name"><?php echo $this->escapeHtml($_bundleitem->getName()) ?></h3></td>
										    	<td class="price" data-rwd-label="<?php echo $helper->__('Price') ?>"><?php echo Mage::helper('core')->currency($_item->getPrice(), true, false);?></td>
												<td class="lin-hide">&nbsp;</td>
												<td class="price" data-rwd-label="<?php echo $helper->__('Total Price') ?>"><?php echo Mage::helper('core')->currency($row_total, true, false);?></td>
												<?php
					            				if($paymentCode == 'mpcashondelivery'){?>
								            		<td class="price" data-rwd-label="<?php echo $helper->__('COD Charges') ?>"><?php echo Mage::helper('core')->currency($codcharges_peritem, true, false);?></td>
								            	<?php
								            	}?>
												<td class="price" data-rwd-label="<?php echo $helper->__('Admin Commission') ?>"><?php echo Mage::helper('core')->currency($seller_item_commission, true, false);?></td>
												<td class="row_total" data-rwd-label="<?php echo $helper->__('Vendor Total') ?>"><?php echo Mage::helper('core')->currency($seller_item_cost, true, false);?></td>
												<td class="row_total" data-rwd-label="<?php echo $helper->__('Subtotal') ?>"><?php echo Mage::helper('core')->currency($row_total, true, false);?></td>
										    <?php
										    } else{
										    	$_bundleitem_child_name ='';
										    	if ($attributes = $attributes_option){
										            $_bundleitem_child_name =  sprintf('%d', $attributes['qty']) . ' x ' .$this->escapeHtml($_bundleitem->getName()) . " " . Mage::helper('core')->currency($attributes['price'], true, false);
										        } else {
										            $_bundleitem_child_name = $this->escapeHtml($_bundleitem->getName());
										        }
										    	?>
										    	<td><div class="option-value"><?php echo $_bundleitem_child_name?></div></td>
										    	<td class="lin-hide">&nbsp;</td>
										        <td class="item_status" data-rwd-label="<?php echo $helper->__('Status') ?>">
													<span class="nobr">
										                <?php if ($_bundleitem->getQtyOrdered() > 0): ?>
												            <?php echo $helper->__('Ordered'); ?>: <strong><?php echo $_bundleitem->getQtyOrdered()*1 ?></strong><br />
												        <?php endif; ?>
												        <?php if ($_bundleitem->getQtyInvoiced() > 0): ?>
												            <?php echo $helper->__('Invoiced'); ?>: <strong><?php echo $_bundleitem->getQtyInvoiced()*1 ?></strong><br />
												        <?php endif; ?>
												        <?php if ($_bundleitem->getQtyShipped() > 0): ?>
												            <?php echo $helper->__('Shipped'); ?>: <strong><?php echo $_bundleitem->getQtyShipped()*1 ?></strong><br />
												        <?php endif; ?>
												        <?php if ($_bundleitem->getQtyCanceled() > 0): ?>
												            <?php echo $helper->__('Canceled'); ?>: <strong><?php echo $_bundleitem->getQtyCanceled()*1 ?></strong><br />
												        <?php endif; ?>
												        <?php if ($_bundleitem->getQtyRefunded() > 0): ?>
												            <?php echo $helper->__('Refunded'); ?>: <strong><?php echo $_bundleitem->getQtyRefunded()*1 ?></strong><br />
												        <?php endif; ?>
											        </span>
												</td>
										        <td class="lin-hide">&nbsp;</td>
								            	<td class="lin-hide">&nbsp;</td>        
										        <td class="lin-hide">&nbsp;</td>
										        <td class="lin-hide">&nbsp;</td>
										        <td class="lin-hide">&nbsp;</td>
										    <?php
										    }?>
										</tr>
									<?php endforeach; ?>
									<?php
									}?>
						        </tbody>
					        	<?php 
					        }
				        }?>
				        <?php  
					    foreach($marketplace_orders as $tracking){
							$shippingamount=$tracking->getShippingCharges();
						}
			            if($paymentCode == 'mpcashondelivery'){
				        	$count_td = 7;
				       	}else{
				       		$count_td = 6;
				       	} ?>
				        <tfoot>	        
						    <tr>
						        <td colspan="<?php echo $count_td ?>" class="a-right">
						            <?php echo $helper->__('Subtotal')?>
						        </td>
						        <td>
						        	<?php echo Mage::helper('core')->currency($subtotal, true, false); ?>
						        </td>
						    </tr>
						    <tr>
						        <td colspan="<?php echo $count_td ?>" class="a-right">
						            <?php echo $helper->__('Shipping & Handling')?>
						        </td>
						        <td>
						        	<?php echo Mage::helper('core')->currency($shippingamount, true, false); ?>
						        </td>
						    </tr>
						    <tr>
						        <td colspan="<?php echo $count_td ?>" class="a-right">
						            <?php echo $helper->__('Total Tax')?>
						        </td>
						        <td>
						        	<?php 
						        	echo Mage::helper('core')->currency($totaltax, true, false);
						        	$admintotaltax = 0;
						        	$vendortotaltax = 0;
						        	if(!Mage::helper('marketplace')->getConfigTaxMange()){							                
						                $admintotaltax = $totaltax;
						            }else{
						            	$vendortotaltax = $totaltax;
						            }					        	 
						        	?>
						        </td>
						    </tr>
						    <?php
				            if($paymentCode == 'mpcashondelivery'){ ?>
						    	<tr>
						    		<td colspan="<?php echo $count_td ?>" class="a-right">
							            <?php echo $helper->__('Total COD Charges')?>
							        </td>							        
							        <td>
							        	<?php echo Mage::helper('core')->currency($codcharges_total, true, false); ?>
							        </td>
						    	</tr>
						    <?php
						    }?>
						    <tr>
						        <td colspan="<?php echo $count_td ?>" class="a-right">
						            <strong><?php echo $helper->__('Total Ordered Amount')?></strong>
						        </td>
						        <td>
						        	<strong><?php echo Mage::helper('core')->currency($subtotal+$shippingamount+$codcharges_total+$totaltax, true, false); ?></strong>
						        </td>
						    </tr>
						    <tr>
						        <td colspan="<?php echo $count_td ?>" class="a-right">
						            <?php echo $helper->__('Total Vendor Amount')?>
						        </td>
						        <td>
						        	<?php echo Mage::helper('core')->currency($vendor_subtotal+$shippingamount+$codcharges_total+$vendortotaltax, true, false); ?>
						        </td>
						    </tr>
						    <tr>
						        <td colspan="<?php echo $count_td ?>" class="a-right">
						            <?php echo $helper->__('Total Admin Commission')?>
						        </td>
						        <td>
						        	<?php echo Mage::helper('core')->currency($admin_subtotal+$admintotaltax, true, false); ?>
						        </td>
						    </tr>
					    </tfoot>
					</table>
				</div>
			</div>
		</div>
		<div class="buttons-set">
			<p class="back-link">
				<a href="<?php echo $this->getUrl('marketplace/order/history');?>" class="left">&laquo; <?php echo $helper->__('Back To My Orders') ?></a>
			</p>
		</div>
		<script>
			var marketplace_shipping_form = new VarienForm('marketplace_shipping_form', true);
			function printinvoice(){
				window.print();
			}
			
		</script>
		<script type="text/javascript">
			if (typeof jQuery == 'undefined'){
			    document.write(unescape("%3Cscript src='//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js' type='text/javascript'%3E%3C/script%3E"));
			}
		</script>
		<script type="text/javascript">
		    var $wk_jq=jQuery.noConflict();
		    (function(){
		        $wk_jq('#mp_create_shipment_btn').click(function(){
		        	if(marketplace_shipping_form.validator.validate()!=false){
			            $wk_jq('#marketplace_shipping_form').submit();
			        }
		        });
		    })($wk_jq);
		</script>
		<?php 
	}
}else{ ?>
	<h2 class="wk_mp_error_msg">
		<?php echo $helper->__("To Become Seller Please Contact to Admin."); ?>
	</h2>
	<?php
} ?>