<?php

$vendors = Mage::helper('seasia_beacon')->getAllVendors();

 ?>
<div class="box simple_contact">
	<form id="beacon_settings_form" name="beacon_settings_form" action="" method="post">
		<input type="hidden" name="form_key" value="<?php echo Mage::getSingleton('core/session')->getFormKey(); ?>" />
		<fieldset class="group-select">
			<h4 class="legend">BEACON SETTINGS</h4>
			<ul>
				<li>
					<div class="input-box" style="padding:5px;">
						<label for="customers">Vendor <span class="required">*</span></label>
						<select style="width:129px;margin-left: 35px;" id="vendor" name="vendor"  title="Vendor"  class="required-entry" onchange="return getSettings(this);">
							
<?php
foreach($vendors as $cd)
{
?>			
							<option value="<?php echo $cd['value']; ?>"><?php echo $cd['label']; ?></option>
<?php }?>							
						</select>
						
					</div>
					<div class="input-box" style="padding:5px;">
						<label for="subject">Range <span class="required">*</span></label>
						<select style="width:129px;margin-left: 35px;" id="range" name="range" title="Range" class="required-entry">
							<option value="">Select Range</option>
							<option value="immediate">Immediate</option>
							<option value="near">Near</option>
							<option value="far">Far</option>
						</select>
					</div>
					<div class="clear"></div>
					<div class="input-box" style="padding:5px;">
						<label for="refresh_rate">Refresh Rate<span class="required">*</span></label>
						<input style="width:10%" name="refresh_rate" id="refresh_rate" title="Refresh Rate" value="" class="required-entry input-text" type="text" />
					</div>
				</li>
			</ul>
		</fieldset>
		<div class="button-set">
			<p class="required">* Required Fields</p>
			<button class="form-button" type="submit"><span>Submit</span></button>	
		</div>
	</form>
</div>
<script type="text/javascript">
    //< ![CDATA[
	
$(function() {
		
	var formId = 'beacon_settings_form';
		var cartForm = new VarienForm(formId,true);
	
	
			cartForm.submit = function(){
			    if (this.validator.validate()) {
			        this.form.submit();
			    }
			}.bind(cartForm);
			jQuery.noConflict();
	});

//onchange of select vendor
function getSettings(em)
{
	
	var vendor_id = em.value;

	var refresh_rate_em = document.getElementById('refresh_rate');
	var range_em = document.getElementById('range');

	
	var reloadurll = '<?php echo Mage::getUrl('adminhtml/beacon_beacon'); ?>';
	var reloadurl = reloadurll+'settings/parent_id/'+vendor_id;

	new Ajax.Request(reloadurl, {
	method: 'post',
    onComplete: function(transport) {
		if(transport.responseText != 'false')
		{        		
			var txt = JSON.parse(transport.responseText);
			
			var beacon_range = txt.beacon_range;
			var refresh_rate = txt.refresh_rate;
	
			refresh_rate_em.value =  refresh_rate;
		    range_em.value =  beacon_range;
		
		}
	    else
	 	{
			refresh_rate_em.value = '';
			range_em.value = '';
		
	 	}
    }
	});
	
	
}   	
    //]]>
</script>
