<?php
$rootId = Mage::app()->getStore()->getRootCategoryId();
$categories = array(3,4,5);
$categories = Mage::getModel('catalog/category')->getCollection()
    ->addAttributeToSelect('*')
    ->addAttributeToFilter('entity_id', $categories)
    ->setOrder('position')
    ->addAttributeToFilter('include_in_menu', 1) //this is needed if you want only the categories in the menu
    ->addAttributeToFilter('is_active', 1);

$_helper = $this->helper('catalog/output');
?>

<div class="page-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="select-menu-box">
                    <div class="menu-box-title mar-top-bot">¿En dónde utilizarás tu impresora?</div>
                    <div class="select-menu-t mar-top-bot">Selecciona una opción</div>
                    <div class="menu-blocks">
                        <div class="row">
                            <?php if ($categories->count() > 0) : ?>
                                <?php
                                $i = 1;
                                foreach ($categories as $category) :
                                    ?>
                                    <div class="col-sm-3 col-xs-6 wow zoomIn">
                                        <a href="<?php echo $category->getUrl()?>" class="m-menu-box hm-<?php echo $i; ?>">
                                            <div class="m-menu-img">
                                                <?php if ($category->getImageUrl()) :?>
                                                    <img src="<?php echo $category->getImageUrl()?>" alt="<?php echo $this->escapeHtml($category->getName())?>" />
                                                <?php endif;?>
                                            </div>
                                            
                                        </a>
                                    </div>
                                    <?php
                                    $i++;
                                endforeach;
                                ?>
                            <?php endif;?>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
