<?php
$cat = Mage::getModel('catalog/category')->load(14);
/*Returns comma separated ids*/
$subcats = $cat->getChildren();
$subcat_array = array();
$subcat_array = explode(',',$subcats);
sort($subcat_array);
foreach($subcat_array as $subCatid)
{
  $_category = Mage::getModel('catalog/category')->load($subCatid);
  if($_category->getIsActive())
  {
	$caturl     = $_category->getURL();
    $catname     = $_category->getName();
	$cat_bg_class = $_category->getHomeButtonClass();
	if($_category->getImageUrl())
    {
      $catimg     = $_category->getImageUrl();
    }
  ?>
    <a  href="<?php echo $caturl ?>" class="col-md-6 col-sm-12 col-xs-12 home-button-container <?php echo $cat_bg_class; ?> <?php echo ($catname == 'Tintas') ? 'hide' : ''; ?>"><div>
    <div class=" home-page-buttons"><img alt="<?php echo $catname; ?>" src="<?php echo $catimg ?>" />
	</div>
	</div></a>
  <?php }
}
?>


